[user]
    name = Ben Prisby
{{- if eq .chezmoi.hostname .dm.hostname }}
    email = {{ .dm.email }}
{{- else if eq .chezmoi.hostname .puzzle.hostname }}
    email = {{ .puzzle.email }}
{{- else }}
    email = {{ .personal.email }}
{{- end }}

[core]
    editor = vim

[init]
    defaultBranch = main

[pull]
    rebase = true
{{- if eq .chezmoi.os "darwin" }}

[diff]
    tool = fork

[merge]
    tool = fork
{{- end }}
