[user]
    name = Ben Prisby
{{- if eq .chezmoi.hostname .work.hostname }}
    email = {{ .work.email }}
{{- else }}
    email = {{ .personal.email }}
{{- end }}

[core]
    editor = vim

[pull]
    rebase = true
{{- if eq .chezmoi.os "darwin" }}

[diff]
    tool = fork

[merge]
    tool = fork
{{- end }}
